.container {
    display: flex;
    position: relative;
}

.input {
    background-color: #FFF;
    width: 100%;
    display: block;
    padding: 7px 130px 7px 7px;
    border: none;
    outline: none;
    resize: vertical;
    min-height: 50px;
    max-height: 150px;
}