.container {
    padding: 7px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {

}

.leaveButton {
    border: 1px solid #ccc;
    background-color: transparent;
    padding: 3px;
    border-radius: 4px;
    color: #7b7b7b;
    cursor: pointer;
}