.container {
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 7px;
    position: relative;
    float: left;
    border-right: 1px solid #ececec;
    background-color: #FFF;
}

@media (max-width: 992px) {
    .container {
        display: none;
    }
    .container.active {
        display: block;
        width: 100%;
    }
}
